<style>
    * {
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #121212; /* Dark background */
        margin: 0;
        padding: 0;
        color: #f4f4f4; /* Light text for contrast */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1, h2, textarea:focus {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 2rem;
    }
    th, td {
        border: 1px solid #444; /* Darker border for contrast */
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #333; /* Dark header */
        color: #f4f4f4; /* Light text */
    }
    tr.started {
        background-color: #d9534f; /* Red for emphasis */
    }
    tr.current {
        background-color: #f0ad4e; /* Yellow for emphasis */
    }
    button,
    .menu button:hover,
    .buttons button {
      background-color: #333;
      color: white;
      margin: 5px;
      padding: 8px 12px;
      border: none;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
    }
    button:hover,
    .menu button,
    .buttons button:hover {
      background-color: #555;
    }
    .stopwatch {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Roboto', sans-serif;
    }

    .time-display {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .buttons button {
      margin: 4px 2px;
    }

    .buttons button.hidden {
      display: none;
    }

    .buttons button:not(.hidden):hover {
      background-color: #45a049;
    }
    #todoList, .subtasks {
      list-style-type: none;
      padding: 0;
    }
    #todoList li, textarea {
      margin: 5px 0;
      padding: 8px 12px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    .content-wrapper, .content-wrapper span, .button-wrapper, .buttons-wrapper {
      display: flex;
    }
    .content-wrapper {
      flex: 1;
      flex-direction: column;
      margin-right: 200px;
    }
    .content-wrapper span {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }
    .button-wrapper, .buttons-wrapper {
      align-items: flex-start;
    }
    .button-wrapper {
      gap: 4px;
      flex-direction: row;
      flex-wrap: nowrap;
      position: absolute;
      right: 12px;
      top: 8px;
    }
    #todoList button {
      margin-left: 10px;
      background-color: #f25c5c;
    }
    #todoList button:hover {
      background-color: #f44646;
    }
    .status-input {
      border: 1px solid #ccc;
      width: 100%;
      text-align: center;
      padding: 4px;
    }
    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 2rem;
      flex: 1;
      min-width: 320px;
    }
    textarea {
      border: 2px solid #ccc;
      border-radius: 15px;
      padding: 10px;
      font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      outline: none;
      resize: none;
      width: 80%;
      height: 200px;
      transition: border-color 0.3s, box-shadow 0.3s;
    }
    textarea:focus {
      border-color: #0077ff;
      box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
    }
    .new-container {
      flex: 1;
      min-width: 320px;
      max-width: 900px;
      margin: 0 auto;
      padding: 2rem;
      background-color: #f4f4f4;
      text-align: center;
    }
    .time-display span {
      font-family: 'Courier New', Courier, monospace;
    }
    .links-box {
      position: fixed;
      left: 0;
      top: 0;
      width: 280px;
      height: 100%;
      background-color: #f8f9fa;
      border-right: 1px solid #dee2e6;
    }
    .container {
      padding: 20px;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      overflow-y: auto;
      flex: 1;
      min-width: 280px;
    }
        .links-box h2 {
          margin-bottom: 20px;
        }
        .link-wrapper,
        #linksList li .buttons-wrapper {
          display: flex;
          align-items: center;
        }
        .link-wrapper {
          justify-content: flex-start;
          width: auto;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        #linksList li .buttons-wrapper {
          align-items: center;
        }
        #linksList li .buttons-wrapper button {
          margin-left: 2px;
        }
        .menu {
          position: absolute;
          top: 40%;
          left: 0;
          margin: 0;
          padding: 0;
          list-style-type: none;
          background-color: white;
          border: 1px solid black;
          z-index: 1;
          width: 100%;
          display: none;
          margin-top: 10px;
        }
        #addLink {
          margin-bottom: 10px;
        }
        .menu button {
          background-color: transparent;
          color: #333;
          border: none;
          cursor: pointer;
          display: block;
          padding: 8px 16px;
          text-align: left;
          width: 100%;
          border-radius: 10px;
        }
        .no-bullet {
          list-style-type: none;
        }
        .link-text {
          text-align: left;
        }
        .menu-icon {
          font-size: 24px;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
        }
        .options-button {
          background-color: #333;
          color: white;
          border: none;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          font-size: 12px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          margin-right: 10px;
          cursor: pointer;
          flex-shrink: 0;
        }
        .options-menu {
          position: absolute;
          background-color: white;
          border: 1px solid #ccc;
          padding: 10px;
          z-index: 1000;
        }
        .options-menu button {
          background-color: #333;
          color: white;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          padding: 4px 8px;
          margin: 2px;
          cursor: pointer;
        }
        .dropdown-icon {
          cursor: pointer;
          margin-right: 10px;
          font-size: 14px;
        }
        .subject-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 8px 12px;
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px;
          flex-wrap: wrap;
        }
        .subject-title {
          flex: 0 1 100%;
          align-self: flex-start;
        }
        .note {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
        }
        .note-title-wrapper {
          margin-bottom: 5px;
          word-break: break-word;
          overflow-wrap: break-word;
        }
        .note-title {
          font-family: Courier, monospace;
        }
        .note-button-wrapper {
          display: flex;
        }
        #exportButtonContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        .new-container .notes-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .note {
          padding: 10px;
          border: 1px solid #ccc;
          background-color: #f9f9f9;
        }
      </style>
