<style>
    * {
        box-sizing: border-box;
    }

    /* Default to dark theme if no theme is set */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: background-color 0.3s, color 0.3s;
    }

    body[data-theme="dark"] {
        background-color: #333;
        color: #f4f4f4;
    }

    body[data-theme="light"] {
        background-color: #FFF;
        color: #000;
    }

    h1, h2, textarea:focus {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 10px;
        overflow: hidden;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }

    body[data-theme="dark"] th,
    body[data-theme="dark"] td {
        border: 1px solid #444;
    }

    body[data-theme="light"] th,
    body[data-theme="light"] td {
        border: 1px solid #ccc;
    }

    th {
        color: #f4f4f4;
    }

    body[data-theme="dark"] th {
        background-color: #d9534f;
    }

    body[data-theme="light"] th {
        background-color: #0077ff;
        color: #FFF;
    }

    #tr.started {
    #    background-color: #d9534f;
    #}

    tr.current {
        background-color: #555;
    }

    body[data-theme="light"] tr.current {
        background-color: #e0e0e0;
    }

    button,
    .menu button:hover,
    .buttons button {
        margin: 5px;
        padding: 8px 12px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    body[data-theme="dark"] button,
    body[data-theme="dark"] .menu button:hover,
    body[data-theme="dark"] .buttons button {
        background-color: #d9534f;
        color: white;
    }

    body[data-theme="light"] button,
    body[data-theme="light"] .menu button:hover,
    body[data-theme="light"] .buttons button {
        background-color: #0077ff;
        color: white;
    }

    body[data-theme="dark"] button:hover,
    body[data-theme="dark"] .menu button,
    body[data-theme="dark"] .buttons button:hover {
        background-color: #c9302c;
    }

    body[data-theme="light"] button:hover,
    body[data-theme="light"] .menu button,
    body[data-theme="light"] .buttons button:hover {
        background-color: #0055cc;
    }

    .stopwatch {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }

    .time-display {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    body[data-theme="dark"] .time-display {
        color: #FFF;
    }

    body[data-theme="light"] .time-display {
        color: #000;
    }

    .buttons button {
        margin: 4px 2px;
    }

    .buttons button.hidden {
        display: none;
    }

    body[data-theme="dark"] .buttons button:not(.hidden):hover {
        background-color: #45a049;
    }

    body[data-theme="light"] .buttons button:not(.hidden):hover {
        background-color: #0033aa;
    }

    #todoList, .subtasks {
        list-style-type: none;
        padding: 0;
    }

    #todoList li, textarea {
        margin: 5px 0;
        padding: 8px 12px;
        border-radius: 10px;
    }

    body[data-theme="dark"] #todoList li,
    body[data-theme="dark"] textarea {
        background-color: #333;
        border: 1px solid #FFF;
        color: #FFF;
    }

    body[data-theme="light"] #todoList li,
    body[data-theme="light"] textarea {
        background-color: #f4f4f4;
        border: 1px solid #000;
        color: #000;
    }

    .content-wrapper, .content-wrapper span, .button-wrapper, .buttons-wrapper {
        display: flex;
    }

    .content-wrapper {
        flex: 1;
        flex-direction: column;
        margin-right: 200px;
    }

    .content-wrapper span {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }

    body[data-theme="dark"] .content-wrapper span {
        color: #FFF;
    }

    body[data-theme="light"] .content-wrapper span {
        color: #000;
    }

    .button-wrapper, .buttons-wrapper {
        align-items: flex-start;
    }

    .button-wrapper {
        gap: 4px;
        flex-direction: row;
        flex-wrap: nowrap;
        position: absolute;
        right: 12px;
        top: 8px;
    }

    #todoList button {
        margin-left: 10px;
    }

    body[data-theme="dark"] #todoList button {
        background-color: #d9534f;
        color: white;
    }

    body[data-theme="light"] #todoList button {
        background-color: #0077ff;
        color: white;
    }

    body[data-theme="dark"] #todoList button:hover {
        background-color: #c9302c;
    }

    body[data-theme="light"] #todoList button:hover {
        background-color: #0055cc;
    }

    .status-input {
        width: 100%;
        text-align: center;
        padding: 4px;
    }

    body[data-theme="dark"] .status-input {
        border: 1px solid #555;
        background-color: #333;
        color: #FFF;
    }

    body[data-theme="light"] .status-input {
        border: 1px solid #ccc;
        background-color: #FFF;
        color: #000;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
        flex: 1;
        min-width: 320px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        overflow-y: auto;
    }

    body[data-theme="dark"] .container {
        background-color: #333;
        color: #FFF;
    }

    body[data-theme="light"] .container {
        background-color: #FFF;
        color: #000;
    }

    textarea {
        border-radius: 15px;
        padding: 10px;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
        resize: none;
        width: 80%;
        height: 200px;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    body[data-theme="dark"] textarea {
        border: 2px solid #333;
        background-color: #555;
        color: #FFF;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }

    body[data-theme="light"] textarea {
        border: 2px solid #ccc;
        background-color: #FFF;
        color: #000;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }

    textarea:focus {
        border-color: #0077ff;
        box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
    }

    .new-container {
        flex: 1;
        min-width: 320px;
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
    }

    body[data-theme="dark"] .new-container {
        background-color: #333;
        color: #FFF;
    }

    body[data-theme="light"] .new-container {
        background-color: #FFF;
        color: #000;
    }

    .time-display span {
        font-family: 'Courier New', Courier, monospace;
    }

    body[data-theme="dark"] .time-display span {
        color: #FFF;
    }

    body[data-theme="light"] .time-display span {
        color: #000;
    }

    .links-box {
        position: fixed;
        left: 0;
        top: 0;
        width: 280px;
        height: 100%;
        border-right: 1px solid;
    }

    body[data-theme="dark"] .links-box {
        background-color: #2a2a2a;
        border-right-color: #555;
        color: #FFF;
    }

    body[data-theme="light"] .links-box {
        background-color: #f4f4f4;
        border-right-color: #ccc;
        color: #000;
    }

    .links-box h2 {
        margin-bottom: 20px;
    }

    body[data-theme="dark"] .links-box h2 {
        color: #FFF;
    }

    body[data-theme="light"] .links-box h2 {
        color: #000;
    }

    .link-wrapper,
    #linksList li .buttons-wrapper {
        display: flex;
        align-items: center;
    }

    .link-wrapper {
        justify-content: flex-start;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    body[data-theme="dark"] .link-wrapper {
        color: #FFF;
    }

    body[data-theme="light"] .link-wrapper {
        color: #000;
    }

    #linksList li .buttons-wrapper {
        align-items: center;
    }

    #linksList li .buttons-wrapper button {
        margin-left: 2px;
        border-radius: 5px;
    }

    body[data-theme="dark"] #linksList li .buttons-wrapper button {
        background-color: #333;
        color: #FFF;
        border: 1px solid #555;
    }

    body[data-theme="light"] #linksList li .buttons-wrapper button {
        background-color: #FFF;
        color: #000;
        border: 1px solid #ccc;
    }

    .menu {
        position: absolute;
        top: 40%;
        left: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 1px solid;
        z-index: 1;
        width: 100%;
        display: none;
        margin-top: 10px;
    }

    body[data-theme="dark"] .menu {
        background-color: #333;
        border-color: #555;
    }

    body[data-theme="light"] .menu {
        background-color: #FFF;
        border-color: #ccc;
    }

    #addLink {
        margin-bottom: 10px;
    }

    .menu button {
        border: none;
        cursor: pointer;
        display: block;
        padding: 8px 16px;
        text-align: left;
        width: 100%;
        border-radius: 10px;
    }

    body[data-theme="dark"] .menu button {
        background-color: transparent;
        color: #FFF;
    }

    body[data-theme="light"] .menu button {
        background-color: transparent;
        color: #000;
    }

    body[data-theme="dark"] .menu button:hover {
        background-color: #444;
    }

    body[data-theme="light"] .menu button:hover {
        background-color: #e0e0e0;
    }

    .no-bullet {
        list-style-type: none;
    }

    .link-text {
        text-align: left;
    }

    body[data-theme="dark"] .link-text {
        color: #FFF;
    }

    body[data-theme="light"] .link-text {
        color: #000;
    }

    .menu-icon {
        font-size: 24px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

    body[data-theme="dark"] .menu-icon {
        color: #FFF;
    }

    body[data-theme="light"] .menu-icon {
        color: #000;
    }

    .options-button {
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        margin-right: 10px;
        cursor: pointer;
        flex-shrink: 0;
    }

    body[data-theme="dark"] .options-button {
        background-color: #333;
        color: #FFF;
    }

    body[data-theme="light"] .options-button {
        background-color: #FFF;
        color: #000;
    }

    .options-menu {
        position: absolute;
        padding: 10px;
        z-index: 1000;
        border: 1px solid;
    }

    body[data-theme="dark"] .options-menu {
        background-color: #252525;
        border-color: #555;
        color: #FFF;
    }

    body[data-theme="light"] .options-menu {
        background-color: #FFF;
        border-color: #ccc;
        color: #000;
    }

    .options-menu button {
        border: none;
        border-radius: 3px;
        font-size: 12px;
        padding: 4px 8px;
        margin: 2px;
        cursor: pointer;
    }

    body[data-theme="dark"] .options-menu button {
        background-color: #333;
        color: #FFF;
    }

    body[data-theme="light"] .options-menu button {
        background-color: #e0e0e0;
        color: #000;
    }

    body[data-theme="dark"] .options-menu button:hover {
        background-color: #444;
    }

    body[data-theme="light"] .options-menu button:hover {
        background-color: #ccc;
    }

    .dropdown-icon {
        cursor: pointer;
        margin-right: 10px;
        font-size: 14px;
    }

    body[data-theme="dark"] .dropdown-icon {
        color: #FFF;
    }

    body[data-theme="light"] .dropdown-icon {
        color: #000;
    }

    .subject-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 12px;
        border-radius: 5px;
        margin-bottom: 10px;
        flex-wrap: wrap;
        border: 1px solid;
    }

    body[data-theme="dark"] .subject-container {
        background-color: #1e1e1e;
        border-color: #555;
        color: #FFF;
    }

    body[data-theme="light"] .subject-container {
        background-color: #f4f4f4;
        border-color: #ccc;
        color: #000;
    }

    .subject-title {
        flex: 0 1 100%;
        align-self: flex-start;
    }

    body[data-theme="dark"] .subject-title {
        color: #FFF;
    }

    body[data-theme="light"] .subject-title {
        color: #000;
    }

    .note {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid;
    }

    body[data-theme="dark"] .note {
        background-color: #2a2a2a;
        border-color: #555;
        color: #FFF;
    }

    body[data-theme="light"] .note {
        background-color: #FFF;
        border-color: #ccc;
        color: #000;
    }

    .note-title-wrapper {
        margin-bottom: 5px;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .note-title {
        font-family: Courier, monospace;
    }

    body[data-theme="dark"] .note-title {
        color: #FFF;
    }

    body[data-theme="light"] .note-title {
        color: #000;
    }

    .note-button-wrapper {
        display: flex;
    }

    #exportButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .new-container .notes-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
</style>
